<h2>Página 2</h2>
<form method="post" action="/Home/Page2">
<div>
	<label for="cep">CEP:</label>
	<input type="text" id="cep" name="cep" required/>
</div>

<div>
	<label for="endereco">Endereço:</label>
	<input type="text" id="endereco" name="endereco" required/>
</div>

<button type="submit">Enviar</button>
</form>
