@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



    <div class="cat-corda">
        <img src="~/imagens.img/guitar_4692847.png" alt="">

    </div>

    <div class="white-box">
        <div class="items">
            <div class="item">
                <div class="product">
                    <a href="~/imagens.img/b3b97d45658a36779b95cd872a30f035.webp">
                        <img src="~/imagens.img/b3b97d45658a36779b95cd872a30f035.webp" alt="">
                    </a>
                </div>
                <h3>Guitarra Stratocaster Strinberg Sts100bk Lh</h3>
                <p class="avaliacao-guitarra">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                <span>R$ 946,50</span>
                <p><b>ou em até 12x sem juros</b></p>
                <button> <a href="pagamento1.html">Comprar</button>
                </a>
            </div>

            <div class="item">
                <div class="product">
                    <a href="imagens.img/classico-38e-1.webp">
                        <img src="imagens.img/classico-38e-1.webp" alt="">
                    </a>
                </div>
                <h3>Violão Clássico Elétrico Aço Michael Vms314 </h3>
                <p class="avaliacao-guitarra">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                <span>R$ 800,00</span>
                <p><b>ou em até 12x sem juros</b></p>
                <button> <a href="pagamento.html">Comprar</button>
                </a>
            </div>

            <div class="item">
                <div class="product">
                    <a href="~/imagens.img/180_cavaquinho_strinberg_cs25_hbs_30861_1_19ee232cfb0fddcd9f1055942f03a034.webp">
                        <img src="~/imagens.img/180_cavaquinho_strinberg_cs25_hbs_30861_1_19ee232cfb0fddcd9f1055942f03a034.webp" alt="">
                    </a>
                </div>
                <h3>Cavaquinho Strinberg Cs25 Hbs</h3>
                <p class="avaliacao-guitarra">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                <span>R$ 560,49</span>
                <p><b>ou em até 12x sem juros</b></p>
                <button>  <a href="pagamento2.html">Comprar</button>
                </a>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
