@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - conexãoBD</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="~/conexãoBD.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="~/css/cordas.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cordas2.0.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/percussao.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sopro.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/teclas.css" asp-append-version="true" />   
    <link rel="stylesheet" href="~/css/pagamento.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagamento1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagamento2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagamento3.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagamento4.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagamento5.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="~/css/pagamento6.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagamento7.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagamento8.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagamento9.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagamento10.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="~/css/pagamento11.css" asp-append-version="true" />    
     <link rel="stylesheet" href="~/css/estilo.css" asp-append-version="true" /> 

    <link href="~/css/cordas.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/estilo.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/cordas2.0.css" rel="stylesheet" asp-append-version="true" />





</head>
<body>


    @* <header> *@



    @*     <div class="logo"> *@
    @*         <img src="~/imagens.img/Imagem1-removebg-preview (1).png" alt="Logotipo"><a href="index.html"></a> *@

    @*     </div> *@


    @*     <input type="checkbox" id="menu-mobile"> *@
    @*     <label for="menu-mobile" class="menu-toggle">&#9776;</label> *@


    @*     <div class="search-bar"> *@
    @*         <input type="text" placeholder="Pesquisar..."> *@
    @*         <button class="botao-pesquisa">Buscar</button> *@
    @*     </div> *@
    @*     </header> *@
    @*     <ul class="menu"> *@

    @*         <!-- Área de itens extras: Favoritos, Carrinho e Login apenas com ícones --> *@

    @*         <li class="icon-only"><a href="carrinho.html"><i class="fas fa-shopping-cart"></i></a></li> *@
    @*         <li class="icon-only"><a href="login.html"><i class="fas fa-user"></i></a></li> *@
    @*     </ul> *@


    @*     <span class="number"><b>(11)970584812</b></span> *@


    @* </header> *@

    @* <div class="cat-corda"> *@
    @*     <img src="~/imagens.img/guitar_4692847.png" alt=""> *@
    @*     <p><b>Categoria:Cordas</b></p> *@
    @* </div> *@

    @* <h4 class="relevante"><b>Destaques do mês</b></h4> *@
    @* <div class="produtos-corda"> *@
    @*     <div class="guitarra"> *@
    @*         <img src="~/imagens.img/b3b97d45658a36779b95cd872a30f035.webp" alt=""> *@
    @*         <p class="nome-guitarra">Guitarra Stratocaster Strinberg Sts100bk Lh</p> *@
    @*         <p class="avaliacao-guitarra">&#9733;&#9733;&#9733;&#9733;&#9734;</p> *@
    @*         <p class="preco-guitarra">R$946,50</p> *@
    @*         <p><b>ou em até 12x sem juros</b></p> *@
    @*     </div> *@

    @*     <div class="violao"> *@
    @*         <img src="~/imagens.img/classico-38e-1.webp" alt=""> *@
    @*         <p class="nome-violao">Violão Clássico Elétrico Aço Michael Vms314 Natural</p> *@
    @*         <p class="avaliacao-violao">&#9733;&#9733;&#9733;&#9733;&#9734;</p> *@
    @*         <p class="preco-violao">R$800,00</p> *@
    @*         <p><b>ou em até 12x sem juros</b></p> *@
    @*     </div> *@

    @*     <div class="cavaco"> *@
    @*         <img src="~/imagens.img/180_cavaquinho_strinberg_cs25_hbs_30861_1_19ee232cfb0fddcd9f1055942f03a034.webp" alt=""> *@
    @*         <p class="nome-cavaco">Cavaquinho Strinberg Cs25 Hbs</p> *@
    @*         <p class="avaliacao-cavaco">&#9733;&#9733;&#9733;&#9733;&#9734;</p> *@
    @*         <p class="preco-cavaco">R$560,49</p> *@
    @*         <p><b>ou em até 12x sem juros</b></p> *@
    @*     </div> *@

    @* </div> *@



    @* <footer> *@
    @*     <div class="rodape"> *@
    @*         <section class="linha1"> *@
    @*             <h2>Quer receber promoções?</h2> *@
    @*             <p>Se cadastre para receber as melhores promoções por email</p> *@
    @*             <form action=""> *@
    @*                 <input type="email"> *@
    @*                 <input type="submit" value="Cadastrar"> *@
    @*             </form> *@
    @*         </section> *@

    @*         <section class="linha2"> *@
    @*             <div class="box-line-footer"> *@
    @*                 <img src="~/imagens.img/Imagem1-removebg-preview (1).png" alt=""> *@
    @*                 <h3>Fale Conosco!</h3> *@
    @*                 <div class="links-contato"> *@
    @*                     <a href=""><b>(11)970584812</b></a> *@
    @*                     <a href=""><b>lulakaiky@gmail.com</b></a> *@
    @*                     <a href=""><b>Rua Olivio Basílio Marçal</b></a> *@
    @*                 </div> *@
    @*             </div> *@

    @*             <div class="box-line-footer"> *@
    @*                 <h3>Formas de Pagamento</h3> *@
    @*                 <div class="btn-pay"> *@
    @*                     <a href=""><button><img src="~/imagens.img/footer_visa.png" alt=""></button></a> *@
    @*                     <a href=""><button><img src="~/imagens.img/footer_pix.png" alt=""></button></a> *@
    @*                     <a href=""><button><img src="~/imagens.img/footer_master.png" alt=""></button></a> *@
    @*                     <a href=""><button><img src="~/imagens.img/footer_boleto.png" alt=""></button></a> *@
    @*                     <a href=""><button><img src="~/imagens.img/footer_elo.png" alt=""></button></a> *@
    @*                 </div> *@
    @*             </div> *@

    @*             <div class="box-line-footer"> *@
    @*                 <h3>Fale Conosco!</h3> *@
    @*                 <div class="btn-envio"> *@
    @*                     <a href=""><button><img src="~/imagens.img/sedex.png" alt=""></button></a> *@
    @*                     <a href=""><button><img src="~/imagens.img/download-removebg-preview (1).png" alt=""></button></a> *@
    @*                 </div> *@
    @*             </div> *@

    @*             <div class="box-line-footer"> *@
    @*                 <h3>Siga-nos</h3> *@
    @*                 <div class="btn-redes"> *@
    @*                     <a href=""><button><i class="bi bi-whatsapp"></i></button></a> *@
    @*                     <a href=""><button><i class="bi bi-instagram"></i></button></a> *@
    @*                     <a href=""><button><i class="bi bi-linkedin"></i></button></a> *@
    @*                 </div> *@
    @*             </div> *@

    @*         </section> *@

    @*         <section class="linha3"> *@
    @*             <h3> Kaiky Lula Silva 2024 &copy; Todos direitos reservados</h3> *@
    @*         </section> *@

    @*     </div> *@
    @* </footer> *@


  

    @*  @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>


  




