@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



    <div class="cat-corda">
        <img src="imagens.img/drum_1478714.png" alt="">

    </div>

    <div class="white-box">
        <div class="items">
            <div class="item">
                <div class="product">
                    <a href="imagens.img/pandeiro.png">
                        <img src="imagens.img/pandeiro.png" alt="">
                    </a>
                </div>

                <h3>Pandeiro 8 Luen 40084 ABS Azul</h3>
                <p class="avaliacao-guitarra">&#9733;&#9733;&#9733;&#9734;&#9734;</p>
                <span>R$ 55,50</span>
                <p><b>ou em até 12x sem juros</b></p>
                <button> <a href="pagamento3.html">Comprar</button>
                </a>
            </div>

            <div class="item">
                <div class="product">
                    <a href="imagens.img/bateriaa.png">
                        <img src="imagens.img/bateriaa.png" alt="">
                    </a>
                </div>

                <h3>Bateria Nagano Onix Smart 22 - Deep Silver </h3>
                <p class="avaliacao-guitarra">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                <span>R$ 3134,00</span>
                <p><b>ou em até 12x sem juros</b></p>
                <button> <a href="pagamento4.html">Comprar</button>
                </a>
            </div>

            <div class="item">
                <div class="product">
                    <a href="imagens.img/tamborim.png">
                        <img src="imagens.img/tamborim.png" alt="">
                    </a>
                </div>
                <h3>Tamborim 6 Polegadas Abs Preto </h3>
                <p class="avaliacao-guitarra">&#9733;&#9733;&#9734;&#9734;&#9734;</p>
                <span>R$ 56,49</span>
                <p><b>ou em até 12x sem juros</b></p>
                <button> <a href="pagamento5.html">Comprar</button>
                </a>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
