@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



    <div class="cat-corda">
        <img src="imagens.img/flute_1003198.png" alt="">

    </div>

    <div class="white-box">
        <div class="items">
            <div class="item">
                <div class="product">
                    <a href="imagens.img/f.png">
                        <img src="imagens.img/f.png" alt="">
                    </a>
                </div>
                <h3>Trompete Hoyden HTR25L</h3>
                <p class="avaliacao-guitarra">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                <span>R$ 1993,50</span>
                <p><b>ou em até 12x sem juros</b></p>
                <button><a href="pagamento7.html">Comprar</button>
                </a>
            </div>

            <div class="item">
                <div class="product">
                    <a href="imagens.img/f1.png">
                        <img src="imagens.img/f1.png" alt="">
                    </a>
                </div>
                <h3>Flauta Transversal Nuova NFL3ES</h3>
                <p class="avaliacao-guitarra">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                <span>R$ 1337,00</span>
                <p><b>ou em até 12x sem juros</b></p>
                <button> <a href="pagamento6.html">Comprar</button>
                </a>
            </div>

            <div class="item">
                <div class="product">
                    <a href="imagens.img/f3.png">
                        <img src="imagens.img/f3.png" alt="">
                    </a>
                </div>
                <h3>
                    Flauta Transversal Shelter SFT6456N C
                </h3>
                <p class="avaliacao-guitarra">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                <span>R$ 1493,49</span>
                <p><b>ou em até 12x sem juros</b></p>
                <button><a href="pagamento8.html">Comprar</button>
                </a>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
