@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <div class="cat-corda">
        <img src="imagens.img/keyboard_4255999.png" alt="">

    </div>

    <div class="white-box">
        <div class="items">
            <div class="item">
                <div class="product">
                    <a href="imagens.img/t.png">
                        <img src="imagens.img/t.png" alt="">
                    </a>
                </div>
                <h3>Teclado Sintetizador Roland XPS30    </h3>
                <p class="avaliacao-guitarra">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                <span>R$ 6700,50</span>
                <p><b>ou em até 12x sem juros</b></p>
            <a href="pagamento11.html">Comprar</a>

        </div>

            <div class="item">
                <div class="product">
                    <a href="imagens.img/tc1.png">
                        <img src="imagens.img/tc1.png" alt="">
                    </a>
                </div>
                <h3>Teclado Arranjador Casio CT-X800    </h3>
                <p class="avaliacao-guitarra">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                <span>R$ 1883,00</span>
                <p><b>ou em até 12x sem juros</b></p>
                <a href="pagamento9.html">Comprar
                </a>
            </div>

            <div class="item">
                <div class="product">
                    <a href="imagens.img/tc2.png">
                        <img src="imagens.img/tc2.png" alt="">
                    </a>
                </div>
                <h3>
                    Teclado Arranjador Casio CT-X3000
                </h3>
                <p class="avaliacao-guitarra">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                <span>R$ 1493,49</span>
                <p><b>ou em até 12x sem juros</b></p>
                <a href="pagamento10.html">Comprar
                </a>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
