@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="pagamento">
    <i class=" money bi bi-cash"></i>
    <h3><b>PAGAMENTO</b></h3>
    <br><br>
</div>

<div class="borda">
</div>

<div class="opcoes">
    <label>
        <input type="radio" name="nivel" value="iniciante">
    </label>

    <img src="imagens.img/mastcard.png" alt="">

    <img src="imagens.img/eloo.png" alt="">
</div>



<div class="opcoes1">
    <label>
        <input type="radio" name="nivel" value="iniciante">
    </label>
    <img src="imagens.img/pixx.png" alt="">
</div>

<div class="opcoes2">
    <label>
        <input type="radio" name="nivel" value="iniciante">
        <i class=" boleto bi bi-upc"></i>
    </label>
</div>

<img class="selo" src="imagens.img/security.png" alt="">

<div class="box-img">
    <h5><b>Resumo do Pedido</b></h5>
    <img src="imagens.img/b3b97d45658a36779b95cd872a30f035.webp" alt="">
    <p>Guitarra Stratocaster <br>Strinberg Sts100bk Lh</p>
    <h6>Total <br>R$ 946,50</h6>
    <section class="borda-pedido">
    </section>
</div>

<button> <a href="finalizada.html" class="btn-outline">Finalizar Compra</button>
    </a>